.parent {
  margin : 20px;
  border: 2px solid black;
  padding:5px;
  text-align: left;
  position: relative;
  width: 70%;
}

strong {
  font-size: 18px;
}

img {
  width: 160px;
  height: 160px;
  margin-top: 4px;
}

.firstName{
  position: absolute;
  top:-10px;
  left: 178px;

}

.lastName {
position: absolute;
top: 20px;
left:178px;
}

.country {
  position: absolute;
  top:50px;
  left: 178px;
}
.type {
  position: absolute;
  top: 80px;
  left: 178px;
}
